# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/

# Django stuff
*.log
db.sqlite3
media/

# Environment variables
.env

# VSCode / IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
